node_modules
facedetect/face-api.min.js
facedetect/facedetect.js
facedetect/facedetection.html
facedetect/models/face_expression_model-shard1
facedetect/models/face_expression_model-weights_manifest.json
facedetect/models/face_landmark_68_model-shard1
facedetect/models/face_landmark_68_model-weights_manifest.json
facedetect/models/face_landmark_68_tiny_model-shard1
facedetect/models/face_landmark_68_tiny_model-weights_manifest.json
facedetect/models/face_recognition_model-shard1
facedetect/models/face_recognition_model-shard2
facedetect/models/face_recognition_model-weights_manifest.json
facedetect/models/tiny_face_detector_model-shard1
facedetect/models/tiny_face_detector_model-weights_manifest.json
csopplegg/bin/Debug/net5.0/getacad.dll
csopplegg/bin/Debug/net5.0/getacad.deps.json
csopplegg/bin/Debug/net5.0/getacad.exe
csopplegg/bin/Debug/net5.0/getacad.pdb
csopplegg/bin/Debug/net5.0/getacad.runtimeconfig.dev.json
csopplegg/bin/Debug/net5.0/getacad.runtimeconfig.json
csopplegg/bin/Debug/net5.0/ref/getacad.dll
csopplegg/getacad.csproj
csopplegg/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
csopplegg/obj/Debug/net5.0/apphost.exe
csopplegg/obj/Debug/net5.0/getacad.AssemblyInfo.cs
csopplegg/obj/Debug/net5.0/getacad.AssemblyInfoInputs.cache
csopplegg/obj/Debug/net5.0/getacad.assets.cache
csopplegg/obj/Debug/net5.0/getacad.csproj.CoreCompileInputs.cache
csopplegg/obj/Debug/net5.0/getacad.csproj.FileListAbsolute.txt
csopplegg/obj/Debug/net5.0/getacad.csprojAssemblyReference.cache
csopplegg/obj/Debug/net5.0/getacad.dll
csopplegg/obj/Debug/net5.0/getacad.GeneratedMSBuildEditorConfig.editorconfig
csopplegg/obj/Debug/net5.0/getacad.genruntimeconfig.cache
csopplegg/obj/Debug/net5.0/getacad.pdb
csopplegg/obj/Debug/net5.0/ref/getacad.dll
csopplegg/obj/getacad.csproj.nuget.dgspec.json
csopplegg/obj/getacad.csproj.nuget.g.props
csopplegg/obj/getacad.csproj.nuget.g.targets
csopplegg/obj/project.assets.json
csopplegg/obj/project.nuget.cache
obj/getacad.csproj.nuget.dgspec.json
obj/getacad.csproj.nuget.g.props
obj/getacad.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
 
